{% extends "layout.html" %} {% block css %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/home/home.css')}}"
/>
{% endblock %} {% block body %}
<!-- Slider -->
<div class="center" >
  <div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img
        src="{{url_for('static', filename='images/home/vesit_new_building.png')}}"
        style="width: 100%"
      />
    </div>

    <!-- <div class="mySlides fade">
      <img
        src="{{url_for('static', filename='images/home/all_council_pic.png')}}"
        style="width: 100%"
      />
    </div> -->
    <div class="mySlides fade">
      <img
        src="{{url_for('static', filename='images/home/DSC06356.jpg')}}"
        style="width: 100%"
      />
    </div>

    <div class="mySlides fade">
      <img
        src="{{url_for('static', filename='images/home/be_te.png')}}"
        style="width: 100%"
      />
    </div>

    <div class="mySlides fade">
      <img
        src="{{url_for('static', filename='images/home/te_group.png')}}"
        style="width: 100%"
      />
    </div>
  </div>
</div>

<div class="container">
  <!-- ------------------------------------ About Us ------------------------------------  -->
  <div class="about" data-aos="fade-up">
    <p class="ieee_title">ABOUT US</p>
    <div class="about-ieee">
      <div class="ieee_text">
        <p class="ieee_head">
          Vivekanand Education Society's Institute of Technology (VESIT)
        </p>
        <p class="ieee-desc" align="justify">
          Vivekanand Education Society’s Institute of Technology (VESIT) was
          established in 1984, with the aim of providing professional education
          in the field of Engineering. This institute is affiliated to the
          University of Mumbai and follows the rules and regulations laid down
          by government, AICTE, and University for admission; 51% reserved for
          Sindhi Linguistic minority and 49% through CAP test. The management
          quota has been surrendered to DTE to make admission centralized.
        </p>
      </div>

      <img
        class="ieee-global-logo"
        src="{{url_for('static', filename='images/home/ves-logo.png')}}"
        alt=""
      />
    </div>
    <hr class="about-ieee-line" />
    <div class="about-ieee">
      <div class="ieee_text">
        <p class="ieee_head">IEEE International</p>
        <p class="ieee-desc" align="justify">
          The Institute of Electrical and Electronics Engineers (IEEE) is a
          professional association for electronic engineering and electrical
          engineering (and associated disciplines) with its corporate office in
          New York City and its operations center in Piscataway, New Jersey. The
          mission of the IEEE is advancing technology for the benefit of
          humanity. The IEEE was formed from the amalgamation of the American
          Institute of Electrical Engineers and the Institute of Radio Engineers
          in 1963.
        </p>
      </div>

      <img
        class="ieee-global-logo"
        src="{{url_for('static', filename='images/home/ieee_global.png')}}"
        alt=""
      />
    </div>
    <hr class="about-ieee-line" />
    <div class="about-ieee">
      <div class="ieee_text">
        <p class="ieee_head">IEEE-VESIT</p>
        <p class="ieee-desc" align="justify">
          IEEE stands for Institute of Electrical and Electronics Engineers.
          Here at IEEE-VESIT, we conduct many technical workshops as well as fun
          events and seminars, maintaining the balance between academics and
          co-curricular activities. Being the perfect blend of hardware and
          software, IEEE-VESIT covers a huge cloud of domains in which students
          can build their career. The faculty and student council works
          hand-in-hand and the legacy is carried forward. IEEE-VESIT also boasts
          about international membership which allows students to get guidance
          right from selecting the topic to write a research paper on until the
          paper is published in the international IEEE magazines. IEEE-VESIT is
          one umbrella society that you require in your engineering life! Be it
          workshops, seminars, fun events, placements, masters, technical paper
          presentations, etc, IEEE-VESIT has it all!
        </p>
      </div>

      <img
        class="ieee-global-logo"
        src="{{url_for('static', filename='images/home/ieee_vesit_black.png')}}"
        alt=""
      />
    </div>
  </div>

  <!-- What we do    -->
  <div class="what-we-do" >
    <h1 class="ieee_title">OUR OBJECTIVES</h1>
    <div class="reviewers">
      <div class="small-container">
        <div class="row">
          <div class="col-3">
            <p align="justify">
              Workshops: IEEE-VESIT makes sure to cover all the trending domains
              and conduct detailed workshops on them. In the workshops, along
              with in depth knowledge, a project is made so that the
              participants also get hands-on experience.
            </p>
          </div>
          <div class="col-3">
            <p align="justify">
              Fun Events: IEEE-VESIT tries to maintain a balance between
              academics and co-curricular activities. IEEE Arcade, Online
              Treasure Hunt (OTH), Case Closed are some of our most popular fun
              events.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p align="justify">
              Technical Paper Presentation (TPP): Research papers help you stand
              out from the crowd and gives you an edge over other candidates, be
              the placements or masters. IEEE-VESIT helps you since the
              beginning to the end of your paper writing journey.
            </p>
          </div>
          <div class="col-3">
            <p align="justify">
              IEEE-VESIT is all you need to get through your engineering life
              successfully yet have fun!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Upcoming Events -->
  <div class="upcoming-events">
    <h1 class="ieee_title">UPCOMING EVENTS</h1>
    <div class="upcoming-events-wrap">
      <img
        class="event-images"
        src="{{url_for('static', filename='images/home/membership_drive.jpg')}}"
      />
      <img
        class="event-images"
        src="{{url_for('static', filename='images/home/upcoming_posters.png')}}"
      />
      <img
        class="event-images"
        src="{{url_for('static', filename='images/home/upcoming_posters.png')}}"
      />
      <img
        class="event-images"
        src="{{url_for('static', filename='images/home/upcoming_posters.png')}}"
      />
    </div>
  </div>

  <!--  testimonial    -->
  <div class="testimonials">
    <h1 class="ieee_title">TESTIMONIALS</h1>
    <div class="reviewers">
      <div class="small-container">
        <div class="row-rev">
          <div class="row">
            <div id="row-rev-1">
              <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <br />
                <img
                  src="{{url_for('static', filename='images/home/testimonials/juhi_rev.jpeg')}}"
                />
                <h3>Juhi Chhatlani</h3>
                <h4>CMPN (2019 - 2023)</h4>
                <p align="justify">
                  Being a member of IEEE Vesit was amazing I have gained
                  experience with the technical workshop conducted by the
                  council. International member ship of IEEE have helped me in
                  publishing my research paper
                </p>
              </div>
              <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <br />
                <img
                  src="{{url_for('static', filename='images/home/testimonials/mansi_rev.jpeg')}}"
                />
                <h3>Mansi Kasar</h3>
                <h4>EXTC (2018 - 2022)</h4>
                <p align="justify">
                  IEEE has no doubt been an important factor in my growth. Since
                  all the workshop conducted had gave me insights and hands on
                  experience into various technology that help me to learn new
                  things.
                </p>
              </div>
            </div>
            <div id="row-rev-1">
              <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <br />
                <img
                  src="{{url_for('static', filename='images/home/testimonials/vansh_rev.jpeg')}}"
                />
                <h3>Vansh Pahuja</h3>
                <h4>CMPN (2020 - 2024)</h4>
                <p align="justify">
                  UI/UX and App devlopement workshop that was conducted by IEEE
                  has helped me to know more about these feilds.Also all the
                  council members helped me if any doubt arises during
                  workshops.
                </p>
              </div>
              <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <br />
                <img
                  src="{{url_for('static', filename='images/home/testimonials/madhumita_rev.jpeg')}}"
                />
                <h3>Madhumita Menon</h3>
                <h4>EXTC (2018 - 2022)</h4>
                <p align="justify">
                  I have been a part of the IEEE-VESIT family for 3 years and I
                  am not exaggerating one bit when I say that choosing to get
                  into this council was the best decision at the time.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='js/home/slider.js')}}"></script>
{% endblock %} {% block js %} {% endblock %}
